.combo-box-base {
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-text-fill: #000000;
    -fx-background-color: transparent;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #DDDDDD;
}

.combo-box .cell:selected {
    -fx-background-color: transparent;
}